.who {
    background-image: -webkit-linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-family: Righteous;
    font-size: 120px;
    text-align: center;
    margin: 5% 0;
}

.desc{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 5%;
    text-align: justify;
    color: #262626;
    font-size: 20px;
}

.desc p{
    margin-bottom: 20px;
}

.gallery{
    width: 100%;
}
.gallery .row{
    width: 100%;
}
.gallery .row .overflow{
    width: 30%;
    height: auto;
}