@font-face{
    font-family: Lato;
    src: url(../Fonts/Lato/Lato-Regular.ttf);
}
@font-face{
    font-family: Gugi;
    src: url(../Fonts/Gugi/Gugi-Regular.ttf);
}
@font-face{
    font-family: Righteous;
    src: url(../Fonts/Righteous/Righteous-Regular.ttf);
}
@font-face{
    font-family: PressStart2P;
    src: url(../Fonts/Press_Start_2P/PressStart2P-Regular.ttf);
}
@font-face{
    font-family: Cinzel;
    src: url(../Fonts/Cinzel/Cinzel-Regular.ttf);
}