@import url('https://fonts.googleapis.com/css?family=Cinzel|EB+Garamond|Gugi|Press+Start+2P|Righteous')

body
	height: 2000px

section#hero
	height: 100vh
	width: 100%
	background-image: url("../images/index/hero2.jpg")
	background-attachment: fixed

	nav
		height: 80px
		width: 100%

		ul.lister
			width: 960px
			margin: 0 auto
			display: flex
			text-align: center

			.logo
				width: 40%
				line-height: 80px
				color: white
				font-family: 'Press Start 2P', cursive;
			.links
				width: 70%

			li.links
				ul
					display: flex
					li.linke						
						line-height: 80px
						width: 25%
						a
							text-decoration: none
							color: #90FFD8
							font-family: 'Gugi', cursive;
	
	header
		width: 500px
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%,-50%)
		text-align: center
		#heading
			font-size: 9em
			font-family: 'Cinzel', serif
			font-weight: bold
			color: #90FFD8
			text-shadow: 2px 2px 6px #000000
		#cap
			font-size: 1.5em
			font-family: arial
			color: white

section#graphs
	width: 100%
	padding: 40px 0
	.heading_graphs0
		font-size: 5em
		color: #262626
		text-align: center
		font-family: Gugi
		margin: 10% 0 5% 0
	.text
		width: 960px
	#gala
		width: 960px
		margin: 0 auto
		margin-bottom: 100px
	.graph
		position: relative
		height: 300px
		width: 500px
		filter: blur(5px)
		-webkit-box-shadow: 10px 10px 41px -13px rgba(0,0,0,0.75)
		-moz-box-shadow: 10px 10px 41px -13px rgba(0,0,0,0.75)
		box-shadow: 10px 10px 41px -13px rgba(0,0,0,0.75)
	.graph:nth-of-type(1)
		left: 80%
		transform: translateX(-50%)
		z-index: 1
	.graph:nth-of-type(2)
		left: -10%
		margin-top: -100% 
		z-index: 2
	.graph:nth-of-type(3)
		left: 50%
		margin-top: -15%
		transform: translateX(-50%)
		z-index: 3
	.graph:nth-of-type(4)
		left: 60%
		margin-top: -15% 
		z-index: 4	
	.graph:nth-of-type(5)
		left: 0%
		margin-top: -45% 
		z-index: 5
	.focus
			filter: blur(0) !important
			z-index: 6 !important
	.boxa
		width: 80%
		background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%)
		padding: 1.5em
		margin: 0 auto
		color: white
		font-family: arial
		-webkit-box-shadow: 0px 0px 41px -13px rgba(0,0,0,0.75)
		-moz-box-shadow: 0px 0px 41px -13px rgba(0,0,0,0.75)
		box-shadow: 0px 0px 41px -13px rgba(0,0,0,0.75)

		.heading_graphs
			font-size: 5em
			padding: 0.3em
			font-family: 'Righteous', cursive;
		.text
			padding: 0.3em
			p
				padding: 0.3em
				font-family: arial;
				font-size: 1.2em
				line-height: 25px



section#product
	width: 960px
	height: 500px
	margin: 0 auto
	display: flex


	#heading_product
		font-size: 5.8em
		font-family: 'Righteous', cursive
	    color: transparent
	    text-shadow: 2px 2px 0px #000000
	   	text-align: center
	   	width: 100%
		position: relative
		top: 75%
		left: 50%
		transform: translate(-50%,-50%)
		span
			font-size: 1.1em !important
			background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%)
			color: transparent
			-webkit-background-clip: text
			background-clip: text
.card
	width: 100%
	height: 500px
	text-align: center

	p
		position: relative
		top: 50%
		left: 50%
		transform: translate(-50%,-50%)
		font-size: 2em
		width: 960px
		font-weight: bold
		font-family: Lato;


.carda
	display: flex
	width: 960px
	margin: 0 auto
	#firstImg
		height: 300px
		
	#prev
		height: 300px
		filter: blur(5px)
		
		
section#info
	width: 1200px
	margin: 0 auto
	
.page
	width: 100%
	height: 600px
	display: flex
	
	
p.texti
	width: 60%
	padding: 30px 	
	justify-content: center
  	align-items: center
	line-height: 30px
	font-size: 30px
	position: relative
	top: 65%
	transform: translate(0,-50%);
	font-family: Lato;

p.texti2
	width: 60%
	padding: 30px
	justify-content: center
  	align-items: center
	line-height: 30px
	font-size: 30px
	position: relative
	top: 65%
	transform: translate(0,-50%);
	font-family: Lato;

img.image1
	height: 400px
	justify-content: center
  	align-items: center

img.image2
	height: 400px
	justify-content: center
	align-items: center

	/* Gallery */

.row
    display: flex;
    width: 90%;


.row .overflow
    margin: 20px;
    overflow: hidden;
    height: 300px;
    width: 100%;
    font-size: 10px;
    text-align: center;
    font-family: Lato;
    color: #262626;


.row .overflow img
    height: 300px;
    width: 100%;  
    transition: 0.2s all ease-in-out;
    filter: brightness(75%);


.row .overflow img:hover
    filter: brightness(100%);
    transform: scale(1.2);


.gallery
    margin: 3% 0;
    display: block;
