@import url("https://fonts.googleapis.com/css?family=Cinzel|EB+Garamond|Gugi|Press+Start+2P");
body {
  height: 2000px; }

section#hero {
  height: 100vh;
  width: 100%;
  background-image: url("../images/index/hero2.jpg");
  background-attachment: fixed; }
  section#hero nav {
    height: 80px;
    width: 100%; }
    section#hero nav ul.lister {
      width: 960px;
      margin: 0 auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      text-align: center; }
      section#hero nav ul.lister .logo {
        width: 40%;
        line-height: 80px;
        color: white;
        font-family: 'Press Start 2P', cursive; }
      section#hero nav ul.lister .links {
        width: 70%; }
      section#hero nav ul.lister li.links ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        section#hero nav ul.lister li.links ul li.linke {
          line-height: 80px;
          width: 25%; }
          section#hero nav ul.lister li.links ul li.linke a {
            text-decoration: none;
            color: #90FFD8;
            font-family: 'Gugi', cursive; }
  section#hero header {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center; }
    section#hero header #heading {
      font-size: 9em;
      font-family: 'Cinzel', serif;
      font-weight: bold;
      color: #90FFD8;
      text-shadow: 2px 2px 6px #000000; }
    section#hero header #cap {
      font-size: 1.5em;
      font-family: arial;
      color: white; }
