@import url('https://fonts.googleapis.com/css?family=Cinzel|EB+Garamond|Gugi|Press+Start+2P')

body
	height: 2000px

section#hero
	height: 100vh
	width: 100%
	background-image: url("../images/index/hero2.jpg")
	background-attachment: fixed

	nav
		height: 80px
		width: 100%

		ul.lister
			width: 960px
			margin: 0 auto
			display: flex
			text-align: center

			.logo
				width: 40%
				line-height: 80px
				color: white
				font-family: 'Press Start 2P', cursive;
			.links
				width: 70%

			li.links
				ul
					display: flex
					li.linke						
						line-height: 80px
						width: 25%
						a
							text-decoration: none
							color: #90FFD8
							font-family: 'Gugi', cursive;
	
	header
		width: 500px
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%,-50%)
		text-align: center
		#heading
			font-size: 9em
			font-family: 'Cinzel', serif
			font-weight: bold
			color: #90FFD8
			text-shadow: 2px 2px 6px #000000
		#cap
			font-size: 1.5em
			font-family: arial
			color: white

section#graphs
	width: 100%
	padding: 40px 0
	.heading_graphs0
		font-size: 5em
		color: gray
		text-align: center
		padding: 10px 0 30px 0
	.text
		width: 960px
	#gala
		width: 960px
		margin: 0 auto
		margin-bottom: 100px
	.graph
		position: relative
		height: 300px
		width: 500px
		filter: blur(5px)
		-webkit-box-shadow: 10px 10px 41px -13px rgba(0,0,0,0.75)
		-moz-box-shadow: 10px 10px 41px -13px rgba(0,0,0,0.75)
		box-shadow: 10px 10px 41px -13px rgba(0,0,0,0.75)
	.graph:nth-of-type(1)
		left: 80%
		transform: translateX(-50%)
		z-index: 1
	.graph:nth-of-type(2)
		left: -10%
		margin-top: -100% 
		z-index: 2
	.graph:nth-of-type(3)
		left: 50%
		margin-top: -15%
		transform: translateX(-50%)
		z-index: 3
	.graph:nth-of-type(4)
		left: 60%
		margin-top: -15% 
		z-index: 4	
	.graph:nth-of-type(5)
		left: 0%
		margin-top: -45% 
		z-index: 5
	.focus
			filter: blur(0) !important
			z-index: 6 !important
	.boxa
		width: 80%
		background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%)
		padding: 1em
		margin: 0 auto
		border-radius: 10px
		color: white
		font-family: arial

		.heading_graphs
			font-size: 3em
